<div class="container">
<h1>Welcome To</h1>
<h2>PocketCanvas</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class='container'>
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
</div>
